.display-window-backdrop {
	position: fixed;
	inset: 0;
	background-color: color-mix(in srgb, var(--color-dark) 60%, transparent);
	backdrop-filter: blur(4px);
	z-index: var(--z-index);
}

.display-window-container:focus {
	outline: 2px solid var(--color-secondary);
}
.display-window-container {
	position: fixed;
	width: var(--w);
	display: flex;
	flex-direction: column;
	background-color: var(--color-darkish);
	overflow: hidden;
	z-index: var(--z-index);
}
.display-window-container[data-edit-mode='resizing'] {
	cursor: nesw-resize;
}
.display-window-container:not([data-window-state='maximized']) {
	border-radius: var(--border-radius);
}

.display-window-titlebar {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 6px;
	background: linear-gradient(166deg, color-mix(in srgb, var(--color-dark) 10%, transparent), color-mix(in srgb, var(--color-dark) 100%, transparent))
}
.display-window-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.875rem;
}
.display-window-titlebar-btn-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 1px;
}

.display-window-content-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: var(--padding);
	overflow: auto;
}
.display-window-content {
	flex: 1 1 auto;
}

.display-window-button-container {
	display: flex;
	gap: 10px;
}

/* .display-window-titlebar-btn-container > button {
	background-color: color-mix(in srgb, var(--color-dark) 60%, transparent);
} */
